/* Estilos específicos para CreatePost */
.create-container {
  margin: 40px auto;
  margin-top: 100px; /* Ajusta este valor para el margen superior */
  margin-bottom: 100px; 
  width: 400px;
  padding: 20px;
  background-color: rgba(60, 179, 113, 0.8); /* Verde claro con opacidad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

h1 {
  font-family: 'Arial', sans-serif;
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.create-form-group {
  margin-bottom: 15px;
}

.create-label {
  display: block;
  font-family: 'Arial', sans-serif;
  color: white;
  margin-bottom: 5px;
}

.create-input,
.create-textarea,
.create-file {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.create-textarea {
  resize: vertical;
  height: 100px;
}

.create-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Verde brillante */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.create-button:hover {
  background-color: #388e3c; /* Verde más oscuro al pasar el ratón */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.create-error-message {
  color: red;
  margin-bottom: 10px;
}

.create-success-message {
  color: green;
  margin-bottom: 10px;
}
